*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;

}

li{
    list-style: none;
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 20px;

}

a{
    text-decoration: none;
    color: gray;
    font-size: 0.875rem;
    transition: all 0.2s;
    font-size: 20px;

}

a:hover{
    color: #fff;

}

section{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
width: 90%;
margin: 0 auto;

}

footer{
    width:100;
    background-color: #212529;
    padding: 2rem 0;
}

.heading, h2{
    color: #FFF;
    font-size:22px;
    font-weight: 500;
}

.main_footer{
    display: flex;
    justify-content: space-between;
}

.list{
    display: grid;
   grid-template-columns: repeat(4,1fr);
   gap:50px;
}

.search_content{
    width: 100%;
}

.search_content p
{   

    margin-top: 15px;
    width: 90%;
    color: #fff;
    font-size: 18px;
    border-radius: 0.5rem;
    margin-bottom: 15px;
}
.search_box{
    

}

.search_box input{
    padding-left: 5px;
    border-radius: 2px;
    height: 32px;
    width: 55%;

}


.search_box button{
    height: 32px;
    color: grey;
    padding: 7px;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 500;


}

.search_box button:hover{
    
    color: rgb(148, 145, 145);
}



.follow_us{
    margin-top: 25px;
    margin-bottom: 10px;
}

.copyright_wrapper{
    margin-bottom: 0;
}

.copyright{
    color: rgb(100, 97, 97);
}

.social_icons{
    margin-top: 10px;
}
.social_icons i{
    margin-right: 15px;
    color: gray;
    cursor: pointer;
}
.social_icons i:hover{
    color: #fff;
}
