@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Twinkle+Star&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:gray;

}


a  {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: floralwhite;
    text-decoration: none;

}

button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: floralwhite;
    text-decoration: none;
    padding: 9px 25px;
    background-color: rgb(9, 117, 206);
    border: none;
    border-radius: 15px;
    transition:  all 0.3s ease 0s;
    cursor: pointer;

}

button:hover{
    background-color: rgb(13, 123, 233);
}

.button_wrapper{
    background-color:darkslategray;
}

li{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: floralwhite;
    text-decoration: none;
    margin: 0 15px;

}




header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color:darkslategray;
     
}

.logo{
    cursor: pointer;
    background-color:darkslategray;
    color: white;

}

.nav_links{
    background-color:darkslategray;

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}


.nav_links li a {
    background-color:darkslategray;
    transition: all 0.3s ease 0s;
    font-weight: 600;
}

.nav_links li a:hover{
    transition: all 0.3s ease 0s;
    font-weight: 800;  
    color: wheat;

}